name: deploy docs and publish package
on:
  push:
    tags:
      - "*"
permissions:
  contents: write
jobs:
   ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git fetch origin gh-pages --depth=1
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'
      - run: pip install -e .\[all,docs\]
      - run: pytest -x -vv --cov=src tests/
      - run: mike deploy -u -p ${{ github.ref_name }} latest
